.RequestClaimSafeplace-Info {
    margin: 2%;
    padding: 2%;
    text-align: center;
    width: 92%;
}

.RequestClaimSafeplace-grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}