.glow {
    animation: glowanim 1s infinite;
}

@keyframes glowanim {
    from {
        color: #f97b97;
    }

    50% {
        color: #f9315c;
    }

    to {
        color: #f97b97;
    }
}

.notif-list {
    position: absolute;
    width: 25em;
    left: -1em;
}