.app {
  width: 350px;
  margin: 0 auto;
}

.scroller {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  overflow: auto;
}

.customGradient {
  background: rgb(29,54,85);
  background: linear-gradient(180deg, rgba(29,54,85,0) 0%, rgba(255,243,170,0.34) 100%);
}