input {
    margin-top: 1em;
    width: 60%;
    padding: 1%;
    font-size: large;
}

button {
    margin-top: 1em;
    width: 60%;
    padding: 1.2%;
    font-size: large;
    background-color: #a19b96;
    color: #fff;
    border: #fff;
    border-style: solid;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: #fff;
    color: #a19b96;
    border: #a19b96;
    border-style: solid;
    border-radius: 8px;
    font-weight: bold;
}