.dropdown-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
    width: 60%;
}

.dropdown-container select {
    width: 100%;
    min-width: 6em;
    background-color: #1a3752;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: solid 2px white;
    margin: 0;
    border-radius: 8px;
    text-indent: 0.01px;
    text-overflow: '';
    /*Hiding the select arrow for firefox*/
    -moz-appearance: none;
    /*Hiding the select arrow for chrome*/
    -webkit-appearance:none;
    /*Hiding the select arrow default implementation*/
    appearance: none;
}

.dropdown-container select option {
    width: 100%;
}

/*Hiding the select arrow for IE10*/
.dropdown-container select::-ms-expand {
    display: none;
}

.dropdown-container::before,
.dropdown-container::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.dropdown-container::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.dropdown-container::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border: solid 2px white;
    border-left: 0;
    border-radius: 0 8px 8px 0;
    background-color: #1a3752;
}

.dropdown-container::after {
    color: white;
}

.btn {
    margin-top: 1em;
    padding: 0.6em;
    font-size: large;
    background-color: #1a3752;
    color: #fff;
    border: #fff;
    border-style: solid;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

.btn-link {
    margin-top: 1em;
    background: none;
    border: none;
    cursor: pointer;
    color: #1a3752;
}

.btn-warning {
    margin-top: 1em;
    padding: 0.6em;
    font-size: large;
    background-color: #f74a44;
    color: #fff;
    border: #fff;
    border-style: solid;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #fff;
    color: #1a3752;
    border: #1a3752;
    border-style: solid;
    border-radius: 8px;
    font-weight: bold;
}

.btn-link:hover {
    color: #1a3752;
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #fff;
    color: #f74a44;
    border: #f74a44;
    border-style: solid;
    border-radius: 8px;
    font-weight: bold;
}

.Loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loader-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: fixed;
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 80%;
    background-color: #fff;
    border: #1a3752;
    border-style: solid;
    border-radius: 8px;
    text-align: center;
}
